.confirmDialog{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding: 60px 20px 20px 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    font-size: 20px;
}
.confirmDialog-header-icon i{
    font-size: 60px;
}
.confirmDialog-header-icon{
    background-color: rgb(6, 182, 212);
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
}
.confirmDialog-header{
    margin: 5px;
}
.confirmDialog-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 20lvw;
}