.taskAdd-container{
    margin-top: 1lvw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
    .taskAdd-container-body{
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
        .taskAdd-container-body-inputPanel{
            display: flex;
            flex-flow: row;
            width: 60lvw;
            height: 100%;
            padding: 2.5lvw;
            background-color: rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(1.2rem);
            border: 2px solid rgb(211, 211, 211);
            border-radius: 12px;
        }
        .taskAdd-container-body-inputPanel-left{
            width: 60%;
        }
        .taskAdd-container-body-inputPanel-input{
                margin: 0px 0px 35px 0px;
        }
            .taskAdd-container-body-inputPanel-input .p-component{
                width: 90%;
            }
        .taskAdd-container-body-card{
            height: 100%;
            padding: 2.5lvw;
            width: 30lvw;
        }
        .taskAdd-container-body-inputPanel-right{
            text-align: center;
            width: 40%;
        }
            .taskAdd-container-body-inputPanel-right p{
                font-size: 20px;
                font-weight: bold;
            }
            .taskAdd-container-body-inputPanel-right .taskAdd-container-body-inputPanel-input label{
                margin-left: 9px;
            }
            .taskAdd-container-body-inputPanel-right-userPanel{
                max-height: 100%;
                overflow: auto;
                padding-top: 33px;
            }
                .taskAdd-container-body-inputPanel-right-userPanel::-webkit-scrollbar {
                width: 4px;
                }
                .taskAdd-container-body-inputPanel-right-userPanel::-webkit-scrollbar-track {
                    background: white;
                    border-radius: 8px;
                }
                .taskAdd-container-body-inputPanel-right-userPanel::-webkit-scrollbar-thumb {
                    background:  rgb(6, 182, 212);
                    border-radius: 8px;
                }
    .taskAdd-container-button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 60%;
        margin: 15px auto;
    }
    .taskAdd-container-button button{
        width: 30%;
    }
    .taskAdd-container-body-inputPanel-input-team{
        display: flex;
        flex-flow: row;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid rgb(6, 182, 212);
    }
    .taskAdd-container-body-inputPanel-input-team-label label{
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
    }
    .taskAdd-container-body-inputPanel-input-team-label input{
        height: 50%;
    }
    .taskAdd-container-body-inputPanel-input-team-label{
        display: flex;
        flex-flow: column;
        text-align: left;
        gap: 1px;
        width: 80%;
    }
    .taskAdd-container-body-inputPanel-input-team-button{
        margin-top: 8px;
    }