.UserMe-body{
    margin: 15px auto;
    width: 100%;
    height: 90%;
}
.UserMe-body-form{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-flow: column;
}
.UserMe-body-name_surname{
    display: flex;
    flex-flow: row;
    gap: 15px;
    width: 100%;
}
.UserMe-body-input{
    display: flex;
    flex-flow: column;
    gap: 2px;
    width: 100%;
}
.UserMe-body-input label{
    font-size: 15px;
    font-weight: 500;
}
.UserMe-body-detail {
    text-align: center;
    width: 70%;
    margin: auto;
}
.UserMe-body-detail h2{
    font-weight: 450;
}

.UserMe-body-button-toEdit{
    margin: auto;
    display: flex;
    width: 60%;
}
.UserMe-body-button-toEdit button {
    width: 100%;
}

.UserMe-body-button{
    margin: auto;
    display: flex;
    gap: 15px;
}
.UserMe-body-button button {
    width: 10rem;
}
.p-inputtext {
    margin: 0;
    width: 100%;
}
.Progress-cointainer {
    margin: 5% auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: #F2F6F6;
    border-radius: 24px;
    position: relative;
}
.Progress-cointainer img{
    width: 50%;
}
.Progress-cointainer h1 {
    font-size: 2.5rem;
    color: #333;
    animation: typingEffect 2.5s steps(20) 1s 1 normal both, colorChange 1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
@keyframes typingEffect {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes colorChange {
    0% {
        color: #333;
    }
    50% {
        color: #00bcd4;  /* Zmienny kolor */
    }
    100% {
        color: #333;
    }
}