@font-face {
  font-family: Montserrat;
  src: url("/src/css/font/MontserratFont.ttf");
}
body {
  margin: 0;
  font-family: Montserrat; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

* {
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Montserrat; 
}
